<div class="row">
    <div class="col-md-6">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="400px" width="760px"></canvas>
    </div>
</div>
<input type="text" |>
<button onclick="btn('0.20:0.29:0.61:0.91')" >btn Click</button>
<button onclick="screenShoot()">take screenShot</button>
<button ng-click="gl.callMethod()">Button php</button>
<button onclick="setOriginal()"> Original Position</button>

<script type='text/javascript'>
    var Module = {
        TOTAL_MEMORY:100000200,
        errorhandler: null,	// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
        compatibilitycheck: null,
        dataUrl: "Release/Builts.data",
        codeUrl: "Release/Builts.js",
        memUrl: "Release/Builts.mem",
    };
    ///morado "0.69:0.23:0.42:0.91"
</script>

<script src="TemplateData/UnityProgress.js"></script>
<script src="Release/UnityLoader.js"></script>

