<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <input class="list-group-item input-sm" type="text" value="some value">
            <li class="list-group-item btn btn-default" ng-click="gl.btn()" >change color</li>
            <li class="list-group-item btn btn-default" ng-click="gl.screenShoot()">take screenShot</li>
            <li class="list-group-item btn btn-default">Button php</li>
            <li class="list-group-item btn btn-default" ng-click="gl.setOriginal()"> Original Position</li>
            <li class="list-group-item btn btn-default" ng-click="gl.show()">show & hide</li>
            <li class="list-group-item btn btn-default" ng-click="gl.scene('night')">night scene</li>
            <li class="list-group-item btn btn-default" ng-click="gl.scene('day')">day scene</li>
        </ul>


    </div>
    <div class="col-md-8">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="400px" width="760px"></canvas>
    </div>
</div>
<script type='text/javascript'>
    var Module = {
        TOTAL_MEMORY:100000200,
        errorhandler: null,	// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
        compatibilitycheck: null,
        dataUrl: "Release/Builts.data",
        codeUrl: "Release/Builts.js",
        memUrl: "Release/Builts.mem",
    };
    ///morado "0.69:0.23:0.42:0.91"
</script>

<script src="TemplateData/UnityProgress.js"></script>
<script src="Release/UnityLoader.js"></script>

